.custom-card {
    background-color: rgba(44, 12, 61, 0.189);
    /* color: white; */
    width: 75vw;
    max-width: 1000px;
    padding: 20px;
    height: fit-content;
    

}

.custom-magic-card {
    border-width: 3px;
}

.card-img {
    width: 50vw !important;
    max-width: 800px;
    align-self: center;
}

.card-video {
    border-color: transparent;
}

.card-description {
    width: 45vw;
    max-width: 700px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.custom-tag {
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 3px black;
    background-color: #45397bcf;
    padding: 4px 9px 4px 9px;
    margin: 5px 0px 5px 10px;
    font-family: inherit;
    height: fit-content;
}
