.custom-card {
    background-color: rgba(44, 12, 61, 0.189);
    /* color: white; */
    width: 75vw;
    padding: 20px;
    height: fit-content;

}

.custom-magic-card {
    /* border: 5px;
    border-color: red; */
    /* border: none; */
    /* padding: 0px; */
    /* border-radius: 20px; */
    /* border: 15px solid transparent !important;

    border-radius: 20px; */
    /* background-color: rgba(158, 34, 208, 0.25) !important; */
    /* backdrop-filter: blur(8px); */
    /* padding: 0;
    margin: 0; */
}

.card-img {
    width: 50vw;
    align-self: center;
}

.card-video {
    border-color: transparent;
}
